<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{public/sideHeader}">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" th:href="@{/css/main/home.css}" href="../../static/css/main/main.css">
    <script th:src="@{/js/main/home.js}" src="../../static/js/main/home.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body layout:fragment="main">
    <div class="main-container">
        <!--기본 가게 정보-->
        <div></div>


        <!--차트 view-->
        <div class="chart-container">
            <div>
                <canvas class="chart" id="priceChart"></canvas>
            </div>
            <div>
                <canvas class="chart" id="orderChart"></canvas>
            </div>
        </div>

        <!--order status view-->
        <div class="order-container">
            <div class="order-content">
                <div class="order-title">접수전</div>
                <div class="order-value">
                    <span class="order-result"></span>
                </div>
            </div>
            <div class="order-content">
                <div class="order-title">준비중</div>
                <div class="order-value">
                    <span class="order-result"></span>
                </div>
            </div>
            <div class="order-content">
                <div class="order-title">준비완료</div>
                <div class="order-value">
                    <span class="order-result"></span>
                </div>
            </div>
            <div class="order-content">
                <div class="order-title">거절</div>
                <div class="order-value">
                    <span class="order-result"></span>
                </div>

            </div>
        </div>

    </div>
</body>
</html>