<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{public/sideHeader}">
<head>
    <meta charset="UTF-8">
    <title>메뉴</title>
    <link rel="stylesheet" th:href="@{/css/main/menu.css}" href="../../static/css/main/menu.css">
    <script th:src="@{/js/main/menu.js}" src="../../static/js/main/menu.js" defer></script>
    <script src="https://kit.fontawesome.com/497c77bb05.js" crossorigin="anonymous"></script><!--버튼 이모티콘-->
</head>

<body layout:fragment="main">
    <div class="main-container">
<!--메뉴 수정 모달 창 : js로 안 내용 변경 현재 메뉴 개별 수정 창-->
        <div class="menu-editing-container">
            <div class="menu-editing-content">
                <div class="menu-editing-header">
                    <button class="menu-cancel-btn">X</button>
                    <span class="menu-header-title">메뉴 수정</span>
                </div>
                <hr>
                <div class="menu-editing-body">
                    <div class="menu-editing">
                        <img class="menu-editing-img" th:src="@{image/public/delivery.jpg}" alt="alal">
                        <div class="menu-editing-div">
                            <input type="text" class="menu-title" value="돈까스" disabled>
                            <input type="text" class="menu-con" value="1000원" disabled>
                            <input type="text" class="menu-people" value="2인분" disabled>
<!--                            <button type="button">메뉴카테고리</button>-->
                            <select>
                                <option>메뉴카테고리 선택</option>
                                <option>메인</option>
                                <option>사이드</option>
                                <option>음료</option>
                            </select>
                        </div>
                        <div class="menu-editing-modify">
                            <button type="button" class="menu-editing-btn">수정</button> <!--수정을 누르면 input disabled 해제, 이미지 수정 가능-->
                        </div>
                    </div>
                    <div class="menu-sold-btn">
                        <button type="button">품절</button>
                        <button type="button">숨김</button>
                    </div>
                    <hr class="hr">
                    <div class="menu-editing-con">
                        <span>구성 및 설명</span>
                        <button type="button">수정</button>
                        <label><input type="text" class="editing-con"></label>
                    </div>
                    <hr class="hr">
                    <div class="menu-editing-opt-con">
                        <span>옵션</span>
                        <button type="button">추가</button>
                        <div class="menu-opt">
                            <select>
                                <option value="1">옵션1</option>
                                <option value="2" selected>옵션2</option>
                                <option value="3">옵션3</option>
                            </select>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="div-modify-btn">
                        <button type="button" class="modify-btn">적용</button>
                    </div>
                </div>
            </div>
        </div>
<!--   메뉴 추가 모달창     -->
<!--        <div class="menu-editing-container">-->
<!--            <div class="menu-editing-content">-->
<!--                <div class="menu-editing-header">-->
<!--                    <button class="menu-cancel-btn">X</button>-->
<!--                    <span class="menu-header-title">메뉴 추가</span>-->
<!--                </div>-->
<!--                <hr>-->
<!--                <div class="menu-editing-body">-->
<!--                    <div class="menu-editing">-->
<!--                        <img class="menu-editing-img" th:src="@{image/public/delivery.jpg}" alt="alal">-->
<!--                        <div class="menu-editing-div">-->
<!--                            <input type="text" class="menu-title" value="이름">-->
<!--                            <input type="text" class="menu-con" value="가격">-->
<!--                            <input type="text" class="menu-people" value="몇인분">-->
<!--                            <button type="button">메뉴카테고리</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr class="hr">-->
<!--                    <div class="menu-editing-con">-->
<!--                        <span>구성 및 설명</span>-->
<!--                        <label><input type="text" class="editing-con"></label>-->
<!--                    </div>-->
<!--                    <hr class="hr">-->
<!--                    <div class="menu-editing-con">-->
<!--                        <span>옵션</span>-->
<!--                        <div class="menu-opt">-->
<!--                            <select>-->
<!--                                <option value="1">옵션1</option>-->
<!--                                <option value="2" selected>옵션2</option>-->
<!--                                <option value="3">옵션3</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr class="hr">-->
<!--                    <div class="div-modify-btn">-->
<!--                        <button type="button" class="modify-btn">추가</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--메뉴 목록-->
        <div class="btn-div">
            <button type="button">메뉴 추가</button>
            <input type="text" class="search-input" placeholder="검색창">
        </div>
        <br>
        <div class="con">
            <div class="con-title">
                <span>메뉴</span>
<!--                    <button type="button"><i class="fa-solid fa-pencil"></i>변경</button>-->
            </div>
            <hr>
            <ul class="menu-ul">
<!--        드랍앤 드래그 js 예정        -->
                <li class="menu-li" th:each="menu : ${menus}">
                    <div class="con-info">
                        <div class="con-drop">
                            <i class="fa-solid fa-bars fa-2x"></i>
                        </div>
                        <div class="info">
                            <input class="menuId" type="hidden" th:value="${menu.menuId}">
                            <div class="menu-name" th:text="${menu.menuName}">닭꼬치</div>
                            <div class="menu-content" th:text="${menu.menuContent}">비싸지만 맛있음</div>
                            <div class="menu-price" th:text="${#numbers.formatInteger(menu.menuPrice, 0, 'COMMA')} + '원'">1000원</div>
                        </div>

                    </div>
                    <img class="menu-img" th:src="'http://' + ${menu.menuImgs[0].menuImgThm}" alt="상품 사진">
<!--                        <div th:text="${menu.menuImgs[0].menuImgThm}"></div>-->
                </li>
            </ul>

        </div>

    </div>
</body>
</html>