<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/sideHeader}">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>옵션</title>
    <link rel="stylesheet" th:href="@{/css/main/option.css}" href="../../static/css/main/option.css">
    <script src="https://kit.fontawesome.com/497c77bb05.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> <!-- sortable.js - 메뉴드래그드랍 -->
    <script th:src="@{/js/main/option.js}" src="../../static/js/main/option.js" defer></script><!--버튼 이모티콘-->
</head>

<body layout:fragment="main">
<div class="main-container">

    <!--header-->
    <div class="main-container-header">
        <div class="search-div">
            <input type="text" placeholder="옵션명을 입력해주세요">
        </div>
        <div class="con-div-btn">
            <button type="button" class="con-category-add">옵션 카테고리 추가</button>
            <button type="button" class="con-add">옵션 추가</button>
        </div>
    </div>

    <section id="menu-container-section">
        <!--menu List-->
        <div class="con" th:each="category : ${categorys}">
            <div class="con-title">
                <input type="hidden" th:value="${category.menuOptionCategoryId}" class="categoryId">
                <button class="con-caret-btn">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="option-category-name-container">
                    <input class="option-category-name" th:text="${category.menuOptionCategoryName}" value="옵션카테고리명">
                    <button class="option-category-name-modify-btn">
                        <i class="fa-solid fa-pencil"></i><span>변경완료</span>
                    </button>
                </div>
            </div>

            <ul class="con-info">
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="con" th:each="category : ${categorys}">
            <div class="con-title">
                <input type="hidden" th:value="${category.menuOptionCategoryId}" class="categoryId">
                <button class="con-caret-btn">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="option-category-name-container">
                    <input class="option-category-name" th:text="${category.menuOptionCategoryName}" value="옵션카테고리명" disabled/>
                    <button class="option-category-name-modify-btn">
                        <i class="fa-solid fa-pencil"></i><span>변경하기</span>
                    </button>
                </div>
            </div>

            <ul class="con-info">
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
                <li class="option-list" th:each="option : ${category.menuOptions}">
                    <div class="con-drop">
                        <i class="handle fa-solid fa-bars fa-2x"></i>
                    </div>
                    <div>
                        <input type="hidden" class="optionId" th:value="${option.optionId}">
                        <div class="option-title" th:text="${option.menuOptionName}">닭다리살 소금구이 [1.5 인분]</div>
                        <div class="option-price" th:text="${option.menuOptionPrice} + '원'">0원</div>
                    </div>
                </li>
            </ul>
        </div>

    </section>



    <!--옵션 개별 변경 모달창-->
        <div class="option-editing-container">
            <div class="option-editing-content">
                <div class="option-editing-header">
                    <button class="option-cancel-btn">X</button>
                </div>
                <input type="hidden" id="modal-optionId">
                <hr>
                <div class="option-editing-body">
                    <div class="option-editing">
                        <div class="option-editing-div">
                            <input class="option-title" type="text" disabled>
                            <input class="option-price" type="text" disabled>
                        </div>
                        <div class="option-editing-modify">
                            <button type="button" class="option-editing-btn">수정</button>
                        </div>
                    </div>
                    <div class="option-sold-btn">
                        <label>
                            <select id="option-category-dropdown">
                            </select>
                        </label>
                        <label>
                            <select id="option-status-dropdown">
                                <option value="1" selected>활성화</option>
                                <option value="0">비활성화</option>
                                <option value="2">품절</option>
                            </select>
                        </label>
                    </div>

                    <hr>
                    <div class="delete-btn-div">
                        <button type="button" class="apply-btn">옵션 적용하기</button>
                        <button type="button" class="delete-btn">옵션 삭제하기</button>
                    </div>
                </div>
            </div>
        </div>


    <!--  옵션 카테고리 변경 모달창 삭제버트느 -->
    <div class="option-category-container">
        <div class="option-category-content">
            <div class="option-category-header">
                <button class="option-cancel-btn">X</button>
                <input type="hidden" id="modify-categoryId" value="">
<!--                <input class="option-header-opt" value="최대 1개 최소 1개">-->
            </div>
            <hr>
<!--            <div class="option-category-add">-->
<!--                <button class="add-btn">옵션 추가</button>-->
<!--            </div>-->
            <div class="option-header-container">
                <button class="option-header-btn">수정</button>
                <input class="option-header-title" value="옵션2" disabled>
            </div>
            <hr>
            <div class="option-editing-body">

            </div>
            <div class="modify-btn-div">
                <button type="button" class="apply-btn">변경사항 저장</button>
                <button type="button" class="delete-btn">옵션 그룹 삭제</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>