<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/sideHeader}">
<head>
    <meta charset="UTF-8">
    <title>옵션</title>
    <link rel="stylesheet" href="../../static/css/main/option.css">
    <script src="https://kit.fontawesome.com/497c77bb05.js" crossorigin="anonymous"></script><!--버튼 이모티콘-->
</head>

<body layout:fragment="main">
<div class="main-container">
    <div class="con">
        <div class="con-title">
            <span>옵션2</span>
            <div class="con-subtitle">최대 1개 최소 1개</div>
            <button type="button"><i class="fa-solid fa-pencil"></i>변경</button>
        </div>
        <div class="con-used">
            <div class="used-count">이옵션을 사용하는 메뉴 1개 </div>
            <div class="used-name">닭구이세트</div>
        </div>
        <div class="con-info">
            <hr>
            <div class="title">닭다리살 소금구이 [1.5 인분]</div>
            <div class="result">0 원</div>
            <hr>
            <div class="title">닭다리살 소금구이 [1.5 인분]</div>
            <div class="result">0 원</div>
            <hr>
            <div class="title">닭다리살 소금구이 [1.5 인분]</div>
            <div class="result">0 원</div>
        </div>
    </div>
    <div class="con">
        <div class="con-title">
            <div>옵션 3</div>
        </div>
        <div class="con-info">
            <div class="result">세트 선택1</div>
            <hr>
        </div>
    </div>
<!--    <div class="con">-->
<!--        <div class="con-title">-->
<!--            <span>기본 배달팁<i class="fa-regular fa-circle-question"></i></span>-->
<!--            <button type="button"><i class="fa-solid fa-pencil"></i>변경</button>-->
<!--        </div>-->
<!--        <div class="con-title">-->
<!--            <div>주문금액에따라배달팁을설정합니다.</div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="con-info">-->
<!--            <div class="title">최소 주문 금액</div>-->
<!--            <div class="vote">-->
<!--                <ul class="vote-title">-->
<!--                    <li>주문금액</li>-->
<!--                    <li>배달팁</li>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <li>4900원이상</li>-->
<!--                    <li>2900원</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="con-info">-->
<!--            <div class="title">배달팁 추가</div>-->
<!--            <div class="vote">-->
<!--                <ul class="vote-title">-->
<!--                    <li>주문금액</li>-->
<!--                    <li>배달팁</li>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <li>10000원이상</li>-->
<!--                    <li>2900원</li>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <li>30000원이상</li>-->
<!--                    <li>0원</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="con">-->
<!--        <div class="con-title">-->
<!--            <span>주문 고객 정보</span>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <th:block>-->
<!--            <div class="con-info" th:each="orderLists : ${orderList}">-->
<!--                <div class="result" th:text="${orderLists.getOrderId()}">-->
<!--                </div>-->
<!--            </div>-->
<!--        </th:block>-->
<!--        <div class="con-info">-->
<!--            <div class="title">예약주문<i class="fa-regular fa-circle-question"></i></div>-->
<!--            <div class="result">설정함</div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="con-info">-->
<!--            <div class="title">포장여부</div>-->
<!--            <div class="result">2,000원 할인</div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>