
body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

@media screen and (min-width: 880px ) {
    .login-content {
        box-sizing: border-box;
        align-content: center;
        text-align: center;
        width: 450px;
        height: 550px;
        border: 1px solid #eceef6;
        margin-top: 100px;
    }

    .logo {
        display: flex;
        justify-content: center;
        height: 70px;
        margin-top: 10px;
    }

    .logo > div {
        margin: 10px;
    }

    .logo > div > i {
        width: 50px;
        height: 50px;
    }

    .login-form {
        height: 350px;
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .login > input[type=text] {
        width: 350px;
        height: 40px;
        color: #222222;
        border: none;
        border-bottom: solid #939292 1px;
    }

    .login > input[type=button]{
        height: 50px;
        background-color: #ff5624;
        border: none;
        cursor: pointer;
        border-radius: 40px;
        color: white;
        font-size: 16px;
    }

    .find {
        text-align: center;
        margin: 5px;
        display: flex;
        justify-content: space-between;
    }

    .find > a {
        text-decoration: none;
        color: #333333;
    }

    .uncorrected {
        text-align: left;
        color: #fa7f7f;
    }

    .bottom {
        font-size: 12px;
        margin-top: 40px;
    }

    .bottom > span > a {
        color: black;
    }
}
/********************************************************************/
/*  반응형 css  */
@media screen and (max-width: 879px) {
    .login-content{
        box-sizing: border-box;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 100px;
    }
    .logo {
        display: flex;
        justify-content: center;
        height: 70px;
        margin-top: 10px;
    }

    .logo > div {
        margin: 20px;
    }

    .logo > div > i {
        width: 50px;
        height: 50px;
    }
    .login-form {
        height: 350px;
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .login > input[type=text] {
        width: 370px;
        height: 40px;
        color: #222222;
        border: none;
        border-bottom: solid #aaaaaa 1px;
    }

    .login > input[type=button] {
        height: 50px;
        background-color: #ff5624;
        border: none;
        cursor: pointer;
        border-radius: 40px;
        color: white;
        font-size: 16px;
    }

    .find {
        text-align: center;
        margin: 5px;
        display: flex;
        justify-content: space-between;
    }

    .find > a {
        text-decoration: none;
        color: #333333;
    }

    .uncorrected {
        text-align: left;
        color: #fa7f7f;
    }

    .bottom {
        font-size: 12px;
        margin-top: 60px;
    }

    .bottom > span > a {
        color: black;
    }
}