@import "../public/public.css";

main{
    position: relative;
    margin: 6rem auto;
    width: 500px;
    height: 700px;
    border: 1px solid var(--main-light-gray-color);
    border-radius: 0.5rem;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

.logo > img {
    width: 100px;
}
/******************************************************/
.login-form{
    padding: 0 30px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login > label{
    display: flex;
    margin: 8px 0;
    align-items: center;
    border: none;
    border-bottom: solid var(--main-gray-color) 1px;
}

.login-input {
    flex: 1;
    padding: 8px 5px;
    color: #222222;
    font-size: var(--large-font);
    border: none;
}

.login-input:focus{
    outline: none;
}

.login > label > i{
    width: 20px;
    margin: 0 10px;
    font-size: var(--large-font);
    cursor: pointer;
}

.login > label > i:hover{
    opacity: 0.8;
}

.find {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.find > a {
    text-decoration: none;
}
.find > a:hover{
    opacity: 0.8;
}

.uncorrected {
    margin-bottom: 20px;
    color: var(--main-light-color);
}

.sub-btn{
    padding: 15px 0;
    border: none;
    border-radius: 2.25rem;
    color: white;
    background-color: var(--main-color);
    font-size: var(--large-font);
    cursor: pointer;
}

.sub-btn:hover{
    opacity: 0.8;
}
/******************************************************/
.sns-login-section{
    margin: 20px 0;
    text-align: center;
}
.sns-login-section > h3{
    padding: 10px 0;
    color: var(--main-gray-color);
    font-weight: normal;
}
.sns-login-section a{
    margin: 5px 5px;
    cursor: pointer;
}
.sns-login-section img{
    width: 50px;
}

/******************************************************/
.service-info-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
}

.service-info-section a{
    text-decoration: underline;
}