<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wego.mappers.MemberMapper" >
    <insert id="join_member" parameterType="com.wego.dto.store.StoreDTO">
        INSERT INTO store (mb_id, mb_pw,  store)
        VALUES ( #{mbId}, #{mbPw}, #{store})
    </insert>

    <insert id="join_storeIntro" parameterType="com.wego.dto.store.StoreIntroDTO">
        <selectKey keyProperty="storeId" order="BEFORE" resultType="int">
            select last_insert_id();
        </selectKey>
        INSERT INTO member (storeId , memberPhone)
        VALUES (#{storeId}, #{storeIntroTel})
    </insert>

</mapper>