<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wego.mappers.OptionMapper" >

    <resultMap id="store_option_info" type="com.wego.dto.menu.MenuOptionCategoryDTO" autoMapping="true" >
        <id property="menuOptionCategoryId" column="moca_id" />
        <collection property="menuOptions" javaType="list" ofType="com.wego.dto.menu.MenuOptionDTO">
            <id property="optionId" column="mo_id" />
            <result property="menuOptionName" column="menuOptionName" />
            <result property="menuOptionPrice" column="menuOptionPrice" />
            <result property="createdDate" column="" />
        </collection>
    </resultMap>

    <select id="get_store_option_info" resultMap="store_option_info">
        SELECT * , moca.menuOptionCategoryId as moca_id,
        mo.optionId as mo_id
        FROM menu_option_category moca
        left outer join menu_option mo
        on moca.menuOptionCategoryId = mo.categoryId
        where moca.storeId = #{storeId};
    </select>

    <select id="get_option_category" resultType="com.wego.dto.menu.MenuOptionCategoryDTO">
        select * from menu_option_category where storeId = #{storeId}
    </select>

    <insert id="join_option_category" >
        insert into menu_option_category(menuOptionCategoryName, created_date, storeId) values(#{categoryName}, now(), #{storeId});
    </insert>

    <update id="modify_option" parameterType="com.wego.dto.menu.MenuOptionDTO">
        update menu_option
        set
        categoryId = #{categoryId},
        menuOptionName = #{menuOptionName},
        menuOptionPrice = #{menuOptionPrice},
        menuOptionStatus = #{menuOptionStatus},
        modified_date = now()
        where optionId = #{optionId}
    </update>

    <insert id="join_option" >
        insert into
        menu_option(categoryId, menuOptionName, menuOptionPrice, created_date)
        values
        <foreach collection="menuOptions" item="option" separator=",">
            (#{option.categoryId}, #{option.menuOptionName}, #{option.menuOptionPrice}, now())
        </foreach>
    </insert>

    <delete id="delete_option" parameterType="int">
        delete from menu_option where optionId = #{optionId};
    </delete>

</mapper>