<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
    <div style="width: 1000px">
        <canvas id="chart"></canvas>
    </div>
</body>
</html>

<script>
    const chart = document.querySelector('#chart');

    let myChart;

    fetch('/test')
        .then(resp => resp.json())
        .then(value => {
            const lastPrice = value[0];
            const thisPrice = value[1];
            myChart = new Chart(chart, {
                type: 'line',
                data: {
                    labels:[
                        '월', '화', '수', '목', '금', '토', '일'
                    ],
                    datasets: [
                        {
                            data: [thisPrice['Mon'] === undefined ? 0 : thisPrice['Mon'],
                                thisPrice['Tue'] === undefined ? 0 : thisPrice['Tue'],
                                thisPrice['Wed'] === undefined ? 0 : thisPrice['Wed'],
                                thisPrice['Thu'] === undefined ? 0 : thisPrice['Thu'],
                                thisPrice['Fri'] === undefined ? 0 : thisPrice['Fri'],
                                thisPrice['Sat'] === undefined ? 0 : thisPrice['Sat'],
                                thisPrice['Sun'] === undefined ? 0 : thisPrice['Sun']
                            ],
                            label: "이번주",
                            borderColor: "#3e95cd",
                            fill: false
                        }, {
                            data: [lastPrice['Mon'] === undefined ? 0 : lastPrice['Mon'],
                                lastPrice['Tue'] === undefined ? 0 : lastPrice['Tue'],
                                lastPrice['Wed'] === undefined ? 0 : lastPrice['Wed'],
                                lastPrice['Thu'] === undefined ? 0 : lastPrice['Thu'],
                                lastPrice['Fri'] === undefined ? 0 : lastPrice['Fri'],
                                lastPrice['Sat'] === undefined ? 0 : lastPrice['Sat'],
                                lastPrice['Sun'] === undefined ? 0 : lastPrice['Sun']
                            ],
                            label: "지난주",
                            borderColor: "#8e5ea2",
                            fill: false
                        },
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: '주간 매출 차트'
                    }
                }
            })
        })


</script>