.main-container {
    margin: 30px auto;
    width: 700px;
    padding-left: 270px;
}
/*.main-content{*/
/*    width: 700px;*/
/*    height: 1000px;*/
/*    !*border: 1px solid black;*!*/
/*}*/
.con {
    margin: 10px;
    border: 1px solid #545454;
    border-radius: 5px;
}

.con > div {
    padding: 10px;
}
.con-title{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.con-title > span{
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.con-title > button[type=button]{
    background: none;
    border: none;
    color: deepskyblue;
    cursor: pointer;
}
.con-info{
    margin: 10px;
}
.menu-name{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}
.menu-price{
    margin-top: 5px;
}
.menu-content {
    font-size: 14px;
    color: #939292;
}

.menu-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.menu-ul {
    padding: 0;
}

.menu-li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid darkgray;
}


/*모달창*/
.menu-editing-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-editing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.menu-editing-header {
    margin: 10px 10px;
}

.menu-cancel-btn {
    /*left: 10px;*/
}

.menu-header-title {
    font-size: 20px;
}

.menu-editing-img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.menu-title {
    font-size: 20px;
}
