/*body {*/
/*    overflow: hidden;*/
/*    height: 100%;*/
/*}*/
.main-container {
    margin: 30px auto;
    width: 700px;
    /*padding-left: 270px;*/
}
.con {
    margin: 10px;
    border: 1px solid #545454;
    border-radius: 5px;
}
.btn-div{
    margin: 5px;
    height: 45px;
}
.btn-div > button{
    height: 30px;
    width: 100px;
    background-color: white;
    border: 1px #333333 solid;
    cursor: pointer;
}
.btn-div > input{
    height: 30px;
    width: 300px;
}
.search-input{
    margin-left: 20px;
    width: 300px;
    height: 25px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 3px;
}
.con > div {
    padding: 10px;
}
.con-title{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.con-title > span{
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.con-drop{
    margin: 5px;
    float: left;
}
.info{
    float: right;
}
.menu-name{
    font-weight: bold;
    margin: 5px;
    font-size: 20px;
}
.menu-price{
    margin: 5px;
}
.menu-content {
    font-size: 14px;
    color: #939292;
    margin: 5px;
}

.menu-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.menu-ul {
    padding: 0;
}

.menu-li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid darkgray;
}

/********************************************************************/
/*메뉴 수정 모달창*/
.menu-editing-container {
    /*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-editing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.menu-editing-header {
    margin: 10px 10px;
}

.menu-editing-body {
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-cancel-btn {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-header-title {
    font-size: 20px;
}
.menu-editing-btn{
    float: right;
    height: 25px;
    width: 70px;
    border: 1px solid #0059ff;
    background: white;
    color: #0059ff;
}
.menu-editing-body{
    height: 550px;
}
.menu-editing-modify{
    height: 30px;
    margin: 5px;
}
.menu-editing{
    display: flex;
}
.menu-editing-img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
.menu-editing-div{
    margin: 10px;
    width: 300px;
}
.menu-editing-div > input{
    margin: 5px;
}
.menu-title {
    font-size: 18px;
}
.menu-con{
    font-size: 18px;
}
.menu-people{
    font-size: 15px;
}
.menu-category{
    width: 200px;
}
.menu-category > select{
    width: 160px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
}
.menu-sold-btn{
    margin: 10px;
}
.menu-editing-con{
    height: 80px;
}
.menu-editing-opt-con{
    height: 100px;
}
.menu-editing-con > span{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.menu-editing-con > button{
    float: right;
}
.menu-option-join-btn{
    height: 25px;
    width: 70px;
    border: 1px solid #0059ff;
    background: white;
    color: #0059ff;
}
.menu-editing-opt-con > span{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.menu-editing-opt-con > button{
    float: right;
}
.editing-con{
    width: 490px;
    height: 25px;
    margin-top: 15px;
}

.menu-opt{
    margin: 10px;
}
.menu-opt > select{
    width: 490px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}
.hr{
    margin: 5px 0
}
.div-modify-btn{
    position: absolute;
    bottom: 10px;
}
.modify-btn{
    width: 500px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}
.menu-sold-select{
    width: 200px;
    height: 30px;
    margin: 10px;
}


/*********************************/
/*메뉴 추가 모달창 css*/
.menu-create-container {
    /*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-creating-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.menu-creating-header {
    margin: 10px 10px;
}

.menu-creating-body {
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-cancel-btn {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-header-title {
    font-size: 20px;
}
.menu-creating-btn{
    float: right;
}
.menu-creating-body{
    height: 550px;
}
.menu-creating-modify{
    height: 30px;
    margin: 5px;
}
.menu-creating{
    display: flex;
}

.menu-creating-img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
.menu-creating-div{
    margin: 10px;
    width: 300px;
}
.menu-title {
    font-size: 18px;
}
.menu-con{
    font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.menu-people{
    font-size: 15px;
}
.menu-category{
    width: 200px;
}
.menu-category > select{
    width: 160px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
}
.menu-sold-btn{
    margin: 10px;
}
.menu-creating-con{
    height: 80px;
}
.menu-editing-opt-con{
    height: 80px;
}
.menu-creating-con > span{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.menu-creating-con > button{
    float: right;
}
.menu-creating-opt-con > span{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.menu-creating-opt-con > button{
    float: right;
}
.menu-opt{
    margin: 10px;
}
.menu-opt > select{
    width: 490px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}
.hr{
    margin: 5px 0
}
.div-add-btn{
    position: absolute;
    bottom: 10px;
}
.add-btn{
    width: 500px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
}
.join-option-container{
    padding: 10px;
}
.join-option-list{
    margin: 5px;
    width: 470px;
}
.join-option {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.join-option > button{
    float: right;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
}
.option-add-div{
    width: 490px;
    height: 30px;
    margin: 5px;
}
.option-add-btn{
    width: 490px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}
.category-dropdown{
    margin: 5px;
    width: 230px;
    height: 25px;
}