@import "../public/public.css";

.main-container {
    margin: 30px auto;
    width: 700px;
    padding-left: 270px;
}
.main-container-header{
    margin: 10px;
}
.search-div{
    height: 40px;
}
.search-div > input{
    height: 30px;
    width: 300px;
}
.con-div-btn{
    margin: 5px;
    height: 50px;
}
.con-add{
    float: right;
    width: 80px;
    height: 40px;
}
.con-category-add{
    float: right;
    width: 160px;
    height: 40px;
}

/********************************************/
.con {
    margin: 10px;
    border: 2px solid black;
    border-radius: 0.35rem;
}

.con-title{
    display: flex;
    font-size: var(--x-large-font);
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.con-title > button{
    width: 50px;
    cursor: pointer;
}
.option-category-name{
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 2px 5px;
    font-size: var(--x-large-font);
    font-weight: bold;
}
input.option-category-name{
    text-align: left;
    width: 200px;
}
.option-category-name:disabled{
    color: black;
    border: 1px solid white
}
.option-category-name{
    border: 1px solid black;
}
.option-category-name:not:disabled:focus{
    outline: 1px solid black;
}
.option-category-name-modify-btn{
    cursor: pointer;
    color: var(--modify-color);
}
.option-category-name-modify-btn:hover{
    opacity: 0.8;
}
.con-title > button[type=button]{
    background: none;
    border: none;
    cursor: pointer;
}
/******************************************/
.option-list {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid var(--main-gray-color);
}
.option-list:last-child{
    border-bottom: none;
}

.option-list .con-drop{
    margin-right: 15px;
}
.con-info .option-title{
    margin: 10px 0 5px 0;
}
.con-info .option-price{
    margin: 0 0 10px 0;
}


/*************************************/
/*옵션 개별 변경 모달창*/
.option-editing-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.option-editing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.option-editing-header{
    margin: 10px;
}
.option-cancel-btn{
    font-size: 20px;
    background-color: white;
    border: none;
}
.option-editing-body{
    height: 550px;
}
.option-editing{
    display: flex;
    justify-content: space-between;
}
.option-editing-div{
    width: 300px;
    height: 65px;
    margin: 10px;
}
.option-title{
    font-size: 20px;
    width: 300px;
    font-weight: bold;
}
.option-price{
    font-size: 18px;
    width: 300px;
}
.option-editing-modify{
    margin: 10px;
}
.option-sold-btn{
    margin: 10px;
}
.option-sold-btn > button{
    margin: 2px;

}
.delete-btn-div{
    display: flex;
    margin: 10px;
}

.delete-btn{
    width: 480px;
    height: 40px;
    color: #ff5624;
    background-color: white;
    border: 1px solid #ff5624;
    margin: 5px 0;
}

.apply-btn {
    width: 480px;
    height: 40px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    margin: 5px;
}

/**************************************/
/*옵션 카테고리 변경 모달창 css*/
.option-category-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.option-category-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.option-header-container {
    margin: 15px 0;
}
.option-category-header{
    height: 30px;
}
.option-header-title{
    font-size: 30px;
    font-weight: bold;
}
.option-header-opt{
    font-size: 16px;
    margin: 5px 5px 5px 31px;
}
.option-header-btn{
    float: right;
}
.option-category-add{
    width: 490px;
    height: 25px;
    margin: 10px;
}
.add-btn{
    float: right;
}
.modify-btn-div{
    display: flex;
    margin: 10px;
}
.modify-btn{
    width: 480px;
    height: 40px;
}
.option-modify-title{
    font-size: 20px;
    width: 300px;
    font-weight: bold;
}
.option-modify-price{
    font-size: 18px;
    width: 300px;
}

/***********************************************/
/*옵션 추가 모달 창 css*/
.option-creating-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.option-creating-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.option-creating-header{
    margin: 10px;
}
.option-name{
    width: 300px;
    height: 25px;
    font-size: 18px;
}
.option-opt{
    width: 300px;
    height: 20px;
    margin-left: 31px;
}
.option-cancel-btn{
    font-size: 20px;
    background-color: white;
    border: none;
}
.option-creating-body{
    height: 550px;
}
.option-creating{
    /*display: flex;*/
    justify-content: space-between;
}
.option-creating-div{
    width: 300px;
    height: 65px;
    margin: 20px 10px;
}
.option-creating-add{
    margin: 10px;
    float: right;
}
.create-btn-div{
    margin: 10px;
}
.create-btn{
    width: 480px;
    height: 40px;
    border: 1px solid black;
    margin: 10px 0;
}

